{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		{% get_current_language as LANGUAGE_CODE %}
		<meta charset="UTF-8">
		<html lang="{{ LANGUAGE_CODE }}">
		<link rel="stylesheet" type="text/css" href="{% static "style/css/login.css" %}">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Drois+Sans">
		<title>EduPanel - Log in</title>
	</head>
	<body>
		<div class="login-wrapper">
			<h1>{% trans "Login" %}</h1>
		</div>
		<div class="login-wrapper-shadow"></div>
	</body>
</html>